<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
		<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
		<span class="fs-4">Welltrip</span>
	</a>
	<ul class="nav nav-pills">
		<li class="nav-item"><a th:href="@{/product}" class="nav-link" aria-current="page">Product</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Covid Info</a></li>
		<li class="nav-item"><a th:href="@{/travels}" class="nav-link">Travel Plan</a></li>
		<li class="nav-item"><a th:href="@{/posts}" class="nav-link">Community</a></li>
	</ul>
</header>