<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Received DM</title>
    <link th:href="@{../css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<p class="follow_title_txt">| 🌠 DM </p>

<div class="followBoxs">
    <div class="followBox4"><a th:href="@{/dm/dmList}" class="txt3">받은 DM</a></div>
    <div class="followBox5"><a th:href="@{/dm/receivedDmList}" class="txt4">보낸 DM</a></div>
</div>

<div class="followBox1">

    <table class="dmList_div3">
        <tr>
            <th class="dmList_th dmList_th_width1">
                사용자
            </th>
            <th></th>
            <th></th>
            <th class="dmList_th dmList_th_width2">
                내용
            </th>
            <th></th>
            <th></th>
            <th class="dmList_th dmList_th_width3">
                날짜
            </th>
        </tr>

        <tr th:if="${receivedDmList == null}">
            <td>&nbsp;</td><td> </td><td> </td>
            <td> </td><td> </td><td> </td><td> </td>
        </tr>

        <tr th:each="receivedDm : ${receivedDmList}" class="tr_hr">
            <td class="dmList_text dmList_th_width1">
                <span th:text="${receivedDm.receiver}"> </span>
            </td> <td> </td> <td> </td>
            <td class="dmList_text2 dmList_th_width2">
                <span th:text="${receivedDm.content}"> </span>
            </td> <td> </td> <td> </td>
            <td class="dmList_text dmList_th_width3">
                <span th:text="${receivedDm.sendDate}"> </span>
            </td>
        </tr>

    </table>
</div>

<br>
<a href="/dm" class="dmList_btn">DM 보내기</a>
</body>
</html>