<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">커뮤니티</h1>
    <h4 class="mb-3">디자인은 추후에 수정</h4>
</div>

<div class="container">
    <form role="form" action="/posts/new" th:object="${postForm}" method="post">
        <div class="form-group">
            <input type="text" th:field="*{postId}" hidden>
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="제목을 입력하세요"
                   th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label for="placeId">장소</label>
            <select name="placeId" id="placeId" th:field="*{placeId}" class="form-control">
                <option value="">장소 선택</option>
                <option th:each="item : ${places}"
                        th:value="${item.id}"
                        th:text="${item.name}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="travelId">참고하면 좋을 여행 일정</label>
            <select name="travelId" id="travelId" th:field="*{travelId}" class="form-control">
                <option value="">여행 선택</option>
                <option th:each="item : ${travels}"
                        th:value="${item.id}"
                        th:text="|${item.country} (${item.startDate} - ${item.endDate})|"/>
            </select>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea th:field="*{content}" class="form-control"
            placeholder="내용을 입력하세요"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div> <!-- /container -->

</body>