<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>블로그 글</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
  <h1 class="mb-3">여행 일정</h1>
  <h4 class="mb-3">상세 보기</h4>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <article>
        <header class="mb-4">
          <h1 class="fw-bolder mb-1" th:text="${post.title}"></h1>

          <div class="text-muted fst-italic mb-2" th:text="|작성일 ${#temporals.format(post.createdDate, 'yyyy-MM-dd')}|"></div>

          장소
          <div th:text="${post.place.name}"></div>

        </header>
        <section class="mb-5">
          <div th:text="${post.content}"></div>

          참고할 여행 일정
          <div th:text="${post.travel.country}"></div>

          <button type="button" class="btn btn-primary"
                  th:onclick="'javascript:edit('+${post.id}+')'">수정</button>

          <button type="button" class="btn btn-primary"
                  th:onclick="'javascript:drop('+${post.id}+')'">삭제</button>
        </section>
        <button type="button" class="btn btn-primary"
                th:onclick="'javascript:scrap('+${post.id}+')'">스크랩</button>

        <!--                <button type="button" id="modify-btn"-->
        <!--                        th:onclick="|location.href='@{/travels?id={articleId}(articleId=${article.id})}'|"-->
        <!--                        class="btn btn-primary btn-sm">수정</button>-->
        <!--                <button type="button" id="delete-btn"-->
        <!--                        class="btn btn-secondary btn-sm">삭제</button>-->

      <section class="mb-6">
        <div th:each="comment : ${comments}">
          <span th:text="${comment.writer.lastName}"></span>
          <span th:text="${comment.content}"></span>
          <button type="button" class="btn btn-primary"
                  th:onclick="'javascript:deleteComment('+${post.id}+')'">삭제</button>
        </div>

        <form role="form" th:action="@{/posts/__${postId}__/comment}" th:object="${commentForm}" method="post">
          <div class="form-group">
            <label th:for="content">내용</label>
            <textarea th:field="*{content}" class="form-control"
                      placeholder="댓글을 입력하세요"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
      </article>
    </div>
  </div>
</div>

</body>
<script>
  function edit(postId) {
    const link = "/posts/" + postId + "/edit";
    location.href = link;
  }

  function drop(postId) {
    const link = "/posts/" + postId + "/delete";
    location.href = link;
  }

  function scrap(postId) {
    const link = "/posts/" + postId + "/scrap";
    location.href = link;
  }

  function addComment(travelId) {
    var form = document.createElement("form");
    var numSelect = document.getElementById("traveler");
    var userId = numSelect.options[document.getElementById("traveler").selectedIndex].value;
    form.setAttribute("method", "post");
    form.setAttribute("action", "/travels/" + travelId + "/" + userId);
    document.body.appendChild(form);
    form.submit();
  }

  function deleteComment(postId) {
    const link = "/posts/" + postId + "/comment/delete";
    location.href = link;
  }


</script>
