<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>커뮤니티</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!-- Import CDN Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<div class="container">
<div class="container mt-5">
  <!-- Header 위치 -->
  <div th:include="~{/common/header}"></div>
  <div class="row">
    <div class="col-lg-8">
      <article>
        <header class="mb-4">
          <h1 class="fw-bolder mb-1" th:text="${post.title}"></h1>
          <div class="text-muted fst-italic mb-2" th:text="|작성자 ${post.writer.getLastName()} ${post.writer.getFirstName()}|"></div>
          <a th:if="${userId != 0 && !userId.equals(post.writer.id)}" th:href="@{/follow/newFollow/{id}(id=${post.writer.getId()})}">팔로우하기</a>
          <div class="text-muted fst-italic mb-2" th:text="|작성일 ${#temporals.format(post.createdDate, 'yyyy-MM-dd')}|"></div>

          <div th:if="${post.place != null}" th:text="|장소: ${post.place.name}|"></div>

        </header>
        <section class="mb-5">
          <div th:text="${post.content}"></div>
          <br><br>

          <div th:if="${post.travel != null}">
            참고할 여행 일정:
            <a th:href="@{/travels/{id}(id=${post.travel.getId()})}">
              <div th:text="| ${post.travel.country} (${post.travel.startDate} - ${post.travel.endDate})|"></div>
            </a>
          </div><br>

          <button th:if="${post.writer.getId().equals(userId)}" type="button" class="btn btn-outline-primary"
                  th:onclick="'javascript:edit('+${post.id}+')'">수정</button>

          <button th:if="${post.writer.getId().equals(userId)}" type="button" class="btn btn-outline-danger"
                  th:onclick="'javascript:drop('+${post.id}+')'">삭제</button>
        </section>

        <button type="button" class="btn btn-primary"
                th:onclick="'javascript:like('+${post.id}+')'">좋아요 <span th:text="${likeCount}"></span></button>
        <button type="button" class="btn btn-primary"
                th:onclick="'javascript:scrap('+${post.id}+')'">스크랩</button>
        <br><br><br>


      <section class="mb-6">
        <div th:each="comment : ${comments}">
          <hr>
          <div class="text-muted fst-italic mb-2" th:text="|작성자 ${comment.writer.getLastName()} ${comment.writer.getFirstName()}|"></div>
          <div class="text-muted fst-italic mb-2" th:text="|작성일 ${#temporals.format(comment.createdDate, 'yyyy-MM-dd')}|"></div>
          <span th:text="${comment.content}"></span><br><br>
          <a th:if="${userId != 0 && !userId.equals(comment.writer.id)}" th:href="@{/follow/newFollow/{id}(id=${comment.writer.id})}">팔로우하기</a>
          <button th:if="${comment.writer.getId().equals(userId)}" type="button" class="btn btn-primary"
                  th:onclick="'javascript:deleteComment('+${post.id}+')'">삭제</button>
          <br><br>
        </div>
        <br><br><br><br>

        <form role="form" th:action="@{/posts/__${postId}__/comment}" th:object="${commentForm}" method="post">
          <div class="form-group">
            <label th:for="content">댓글 작성란</label>
            <textarea th:field="*{content}" class="form-control"
                      placeholder="댓글을 입력하세요"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
      </article>
    </div>
  </div>
</div>
  <!-- Footer 위치 -->
  <div th:include="~{/common/footer}"></div>
</div>
</body>
<script>
  function edit(postId) {
    const link = "/posts/" + postId + "/edit";
    location.href = link;
  }

  function drop(postId) {
    const link = "/posts/" + postId + "/delete";
    location.href = link;
  }

  function scrap(postId) {
    const link = "/posts/" + postId + "/scrap";
    location.href = link;
  }

  function like(postId) {
    const link = "/posts/" + postId + "/like";
    location.href = link;
  }

  function addComment(travelId) {
    var form = document.createElement("form");
    var numSelect = document.getElementById("traveler");
    var userId = numSelect.options[document.getElementById("traveler").selectedIndex].value;
    form.setAttribute("method", "post");
    form.setAttribute("action", "/travels/" + travelId + "/" + userId);
    document.body.appendChild(form);
    form.submit();
  }

  function deleteComment(postId) {
    const link = "/posts/" + postId + "/comment/delete";
    location.href = link;
  }


</script>
