<div th:fragment="mypageMenu">
    <div class="testDivs">
        <div class="mypageCircle"></div>
        <div class="testDiv">
            <a href="/my-page" class="mypagetxt">마이<br>페이지
            </a>
        </div>
        <div class="Line-11"></div>
        <div class="testDiv2">
            <a href="/product" class="mypagetxt subtxt specialtxt">예약<br>조회 / 변경 / 취소
            </a>
        </div>
        <div class="Line-11"></div>
        <div class="testDiv3">
            <a href="/my-page/dm/dmList" class="mypagetxt subtxt">쪽지 관리</a>
        </div>
        <div class="Line-11"></div>
        <div class="testDiv4">
            <a href="/my-page/follow/followerList" class="mypagetxt subtxt">팔로우 관리</a>
        </div>
        <div class="Line-11"></div>
        <div class="testDiv5">
            <a href="/my-page/edit" class="mypagetxt subtxt">회원정보 수정
            </a>

        </div>
        <div class="mypageCircle-2"></div>
    </div>
</div>
<br>
<br>
