.join_div {
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, #D9CDEA 47%, rgba(185, 182, 229, 0)
    100%);
    margin: auto;
    border: 0;
}

.join_div_input {
    border-radius : 50px;
    color: #9692cf;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.join_div_width {
    width: 295px;
    margin: auto auto 15px;
}

.join_btn {
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #8a87b5;
    border: 0;
    font-weight: bold;
    color: #fff;
}

.joinCheck_btn {
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #8a87b5;
    border: 0;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px 5px 10px;
}

.joinCheck_btn:hover{
    color: #ffffff;
    text-decoration: none;
    opacity:0.7;
}

.join_btn:hover {
    background-color: #8a87b5;
    opacity:0.7;
}

.login_box {
    margin: auto;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, #BDBAE8 47%, rgba(185, 182, 229, 0)
    100%);
    text-align: center;
    padding: 50px;
}

.error_txt{
    font-weight: bold;
    color: #ffffff;
    margin: 10px;

}

.searchIdError_div {
    margin-bottom: 0px;
    margin-right: 0px;
    font-weight: bold;
    color: #B70404;
    text-align: center;
    width: 294.656px;
}

.duplicateError_txt {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.login_box3 {
    width: 232px;
    height: 42px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #8a87b5;
    position: relative;
    border: 0;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
}

.login_txt2 {
    /*width: 265px;*/
    font-size: 13px;
    font-weight: bold;
    color: #9692cf;
    text-align: center;
}

.login_box3:hover {
    color: #8a87b5;
    background-color: #fff;
    transition: 1s;
}


.login_div {
    margin: auto;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, #BDBAE8 47%, rgba(185, 182, 229, 0)
    100%);
    text-align: center;
    padding: 50px;
}

.login_box2 {
    width: 200px;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding-left: 30px;

    font-size: 15px;
    color: #9692cf;
    border: 0;
}

.login_txt {
    width: 160px;
    height: 38px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.login_input {
    width: 200px;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding-left: 30px;

    font-size: 15px;
    color: #9692cf;
    border: 0;
}

.Rectangle-50 {
    width: 581px;
    height: 750px;
    margin: 17px 372px 0 487px;
    padding: 30px 138px 55px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(to bottom, #8a87b5 47%, rgba(185, 182, 229, 0)
    100%);
}

.login {
    width: 100px;
    height: 35px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
}

.login_btn {
    width: 232px;
    height: 42px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #8a87b5;
    position: relative;
    border: 0;
    font-size: 23px;
    font-weight: bold;
    color: #fff;
}

.login_picture {
    width: 150px;
}

.login_btn:hover {
    color: #8a87b5;
    background-color: #fff;
    transition: 1s;
}

.login_linkTxt {
    width: 265px;
    font-size: 15px;
    font-weight: bold;
    color: #9692cf;
}
.error_txt{
    font-weight: bold;
    color: #B70404;
    margin: 10px;
    font-size: 13px;

}

.err_span {
    /*text-align: center;*/
    font-weight: bold;
    color: #B70404;
    font-size: 13px;
    margin: auto auto auto 10px;
    width: 295px;
}

a {
    text-decoration: none;
}

.txt_color {
    color: #9692cf;
}

.join_table {
    margin: auto;
}

.join_txt {
    width: 160px;
    height: 38px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    align: left;
}

.follow_title_div {
    width: 280px;
    height: 100px;
    flex-grow: 0;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(202, 200, 231, 0.15);

}

.follow_picture {
    width: 80px;
}

.follow_title_email {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #8a87b5;
    margin-bottom: 10px;
}

.text1 {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #858282;
}

.text2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.follow_title_div_img {
    float: left;
    margin-right: 20px;
}

.follow_title_div_txt {
    float: left;
    padding: 10px;
    width: 160px;
    text-align: center;
}

.follow__div_txt1 {
    margin: 5px auto auto;
}

.follow_td {
    text-align: center;
    width: 50px;
    padding: 0px;
    margin-top: 5px;
}

.followBox1 {
    width: 900px;
    padding: 10px;
    margin: auto;
    border-right: solid 1px #cac8e7;
    border-bottom: solid 1px #cac8e7;
    border-left: solid 1px #cac8e7;
    text-align: left;
}

.followBox2 {
    width: 450px;
    height: 30px;
    padding: 5px;
    background-color: #cac8e7;
    border-radius: 20px 0px 0px 0px;
    float: left;
}

.followBox3 {
    width: 450px;
    height: 28px;
    padding: 5px;
    border-radius: 0px 20px 0px 0px;
    float: left;
    border: 1px solid #cac8e7;
}

.followBoxs {
    text-align: center;
    margin: 20px auto auto auto;
    display:flex;
    justify-content:center;
}

.userDetailTable th {
    text-align: left;
}

.userDetailTable td {
    padding-left: 10px;
}

.follow_title_txt {
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #9692cf;
}

.follower_div {
    width: 600px;
    height: 100px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.25);
    border: solid 2px #cac8e7;
    border-left: solid 10px #cac8e7;
    margin: 10px auto 10px auto;

}

.Ellipse-5 {
    width: 60px;
    height: 60px;
    background-color: #cac8e7;
    border-radius: 50%;
    margin: 10px;
    float: left;
    margin: 20px 10px 20px 20px;
}

.username {
    width: 202px;
    margin: 3px 0 7px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    float: left;
    color: #9692cf;
}

.UserInfoDiv2 {
    width: 50%;
    float: left;
    margin: 10px;
}


.userDetailTable {
    color: #c9c8de;
}

.userDetailTable th {
    text-align: left;
}

.userDetailTable td {
    padding-left: 10px;
}

.followerDelete {
    float: right;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #cac8e7;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 10px 0 0;
    text-align: center;
}

.followerDelete:hover {
    background-color: #8a87b5;
    color: #fff;
    transition: 1s;
}

.txt1 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.txt2 {
    color: #cac8e7;
    font-size: 20px;
    font-weight: bold;
}

.followBox4 {
    width: 450px;
    height: 28px;
    padding: 5px;
    border: 1px solid #cac8e7;
    border-radius: 20px 0px 0px 0px;
    float: left;
}

.followBox5 {
    width: 450px;
    height: 30px;
    padding: 5px;
    border-radius: 0px 20px 0px 0px;
    float: left;
    background-color: #cac8e7;
}

.txt4 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.txt3 {
    color: #cac8e7;
    font-size: 20px;
    font-weight: bold;
}


.searchIdError_div {
    font-weight: bold;
    color: #B70404;
    text-align: center;
    width: 295px;
    font-size: 12px;
    margin: auto;
}

.searchId_txt1 {
    color: #9692cf;
    font-size: 20px;
    font-weight: bold;
}

.searchId_txt2 {
    color: #9692cf;
    font-size: 17px;
    font-weight: bold;
}

.searchId_div1 {
    margin: auto;
    text-align: center;
    width: 380px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    /*background-image: linear-gradient(to bottom, #D9CDEA 47%, rgba(185, 182, 229, 0) 100%);*/
    background-color: #ffffff;
    border: 0;
}

.searchId_email {
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #BDBAE8;
    border: 0;
    color: white;
    font-weight: bold;
    margin: 10px;
    font-size: 15px;
}

.dmList_btn {
    background-color: #9692cf;
    color: #ffffff;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    border: none;
}

.dmList_th {
    text-align: center;
    font-weight: bold;
    color: #9692cf;
    border-bottom: #9692cf 2px solid;
}

.dmList_th_width1 {
    width: 150px;
}

.dmList_th_width2 {
    width: 450px;
}

.dmList_th_width3 {
    width: 200px;
}

.dmList_text {
    text-align: center;
    font-weight: bold;
    color: #9692cf;
    text-align: center;
}

.dmList_text2 {
    font-weight: bold;
    color: #9692cf;
    padding-left: 10px;
}


.tr_hr {
    border-bottom: #9692cf 1px solid;
}

.dmList_div3 {
    margin: 10px auto;
}

