<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Follower</title>
    <link th:href="@{../../css/style.css}" rel="stylesheet" type="text/css"/>
    <style>
        .searhFollowId {
            width: 250px;
            padding: 10px 20px;
            border-radius: 20px;
            border: solid 1px #cac8e7;
            color: #8a87b5;
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div th:include="user/mypageMenu :: mypageMenu "></div>

<div th:include="~{follow/followHeader :: followerHeader (${userEmail}, ${followerCount}, ${followingCount})}"></div>

<a class="dmList_btn3" th:href="@{/follow/exploreFollow}">💡 탐색하기</a>
<br><br>
<div th:fragment="followerList(followerList)">
    <div class="followBoxs">
        <div class="followBox2"><a th:href="@{/follow/followerList}" class="txt1">팔로워</a></div>
        <div class="followBox3"><a th:href="@{/follow/followingList}" class="txt2">팔로잉</a></div>
    </div>

    <div class="followBox1">

        <div class="emailSearchInput">
            <form th:action="@{/follow/followerSearch}" method="POST">
                <input type="text" name="keyword" th:value="${keyword}" class="searhFollowId" placeholder="Email">
                <button class="dmList_btn2" type="submit">검색하기</button>
            </form>
        </div>

        <div th:if="${searchDiv == true}">
            <p th:if="${searchFollowerList == null }" class="searchError"> ⛔ 검색된 결과가 없습니다 ⛔</p>

                <table th:if="${searchFollowerList != null }" class="follower_div">
                    <tr th:each="searchFollower : ${searchFollowerList}">
                        <td class="follower_div2">
                            <div>
                                <div class="UserInfoDiv1">
                                    <div class="Ellipse-5"></div>
                                    <div class="UserInfoDiv2">
                                        <div class="username">
                                            <span th:text="${searchFollower.firstName}"> </span>
                                            <span th:text="${searchFollower.lastName}"></span>
                                        </div>

                                        <br>
                                        <table class="userDetailTable">
                                            <tr>
                                                <th>Email</th>
                                                <td><span th:text="${searchFollower.email}"></span></td>
                                            </tr>
                                            <tr>
                                                <th>Created</th>
                                                <td><span th:text="${searchFollower.createdDate}"></span></td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <a class="followerDelete"
                                   th:href="@{/follow/delete/{followerId}(followerId=${searchFollower.id})}">삭제</a>
                            </div>
                        </td>
                    </tr>
                </table>
        </div>

        <div th:unless="${searchDiv == true}">
            <!--    사용자를 친구 신청한 목록 (팔로워)-->
            <div th:if="${followerCount == 0}">&nbsp;</div>

            <table th:if="${followerCount != 0}" class="follower_div">
                <tr th:each="follower : ${followerList}">
                    <td class="follower_div2">
                        <div>
                            <div class="UserInfoDiv1">
                                <div class="Ellipse-5"></div>
                                <div class="UserInfoDiv2">
                                    <div class="username">
                                        <span th:text="${follower.firstName}"> </span>
                                        <span th:text="${follower.lastName}"></span>
                                    </div>

                                    <br>
                                    <table class="userDetailTable">
                                        <tr>
                                            <th>Email</th>
                                            <td><span th:text="${follower.email}"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Created</th>
                                            <td><span th:text="${follower.createdDate}"></span></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <a class="followerDelete"
                               th:href="@{/follow/delete/{followerId}(followerId=${follower.id})}">삭제</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<table>
    <tr th:each="test : ${testList}">
        <!--        <td th:text="${test.createdDate}"></td>-->
        <td class="text_td" th:text="${test.firstName}"></td>
        <td class="text_td" th:text="${test.lastName}"></td>
        <td class="text_td" th:text="${test.email}"></td>
        <td class="text_td"><a class="followListA" href="#"
                               th:href="@{/follow/newFollow/{followId}(followId=${test.id})}">
            Follow
        </a></td>
    </tr>
</table>

</body>
</html>